:root {
  --branding-color: #6c63ff;
  --background-color: #d1cde9;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --primary-color: rgb(58, 53, 53);
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color);
}

h1 {
  color: var(--primary-color);
  text-align: center;
}
h5 {
  text-align: center;
}
p {
  text-align: center;
}

.card-text {
  text-align: center;
}
.container {
  max-width: 900px;
  max-height: 900px;
  margin: auto;
  text-align: left;
  padding: 120px 60px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding.outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.nav-link {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
.nav-link {
  text-decoration: none;
  color: #0a0522;
  transition: all 100ms ease-in-out;
}

.masterhead {
  background-size: cover;
  min-height: 60vh;
  max-width: none;
  position: relative;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(-- --secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin-bottom: 0 10px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
